{% extends "search_bar_extension.html" %}

{% block content %}
<div class="location-info">
      <h2><b>{{ query }}</b></h2> &nbsp;  <h4> near </h4> &nbsp; <h3> {{ city }}, {{ state }} {{ zipcode }}, USA </h3>
</div>
<br>
<div class="divider">
     <hr size="20">
</div>
<div class="main">
    	<br><br><br>
	{% if query %}
		<!--<div class="flex-container">-->
                <div class="grid">
		{% for result in page.object_list %}
		    <div class="item"> 
			<a href="{% url 'post_detail' id=result.object.id %}"> 
		        <div class="content">
		  	    <div class="card">
  		    <!--<div> <div class="card" style="width: 22rem;">-->
			  	<!-- Card image -->
			  	<div class="view_overlay">
				    {% if result.object.image %}
					<a href="{% url 'post_detail' id=result.object.id %}"> <img class="card-img-top" src=' {{ result.object.image.url }}' alt="Card image cap"> </a>
				    {% else %}
					<a href="{% url 'post_detail' id=result.object.id %}"><img class="card-img-top" src='https://www.gumtree.com/static/1/resources/assets/rwd/images/orphans/a37b37d99e7cef805f354d47.noimage_thumbnail.png' alt="Card image cap"></a>
				    {% endif %}
				    <a href="{% url 'post_detail' id=result.object.id %}">
				      <div class="mask rgba-white-slight"></div>
				    </a>
				  </div>

				<!-- Card content -->
				<a href="{% url 'post_detail' id=result.object.id %}">
			        <div class="card-body">
				    <!-- Title -->
				    <h4 class="card-title"><font color="black"> {{result.object.title}} </font> </h4>
				    <!-- Text -->
				    <p class="card-text"><font color="black"><b> <h4> ${{result.object.price}}.00 </font> </h4> </b> </p>
				    <!-- Location -->
				    <h5><font color="grey">{{ result.object.city }} </font></h5>
			        </div>
				</a>
			    </div>  <!-- card -->
		      </div>  <!-- content -->
		      </a>
		</div>   <!-- item -->
		{% empty %}
           		<p> <h2> No results found. </h2> </p>
		{% endfor %}
	       </div>

          {% else %}
	  {% endif %} 
	</form>
</div>
{% endblock %}
